.profile__info-container{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .profile__info-container {
        margin: 22px auto  0px;
        justify-content: center;
    }
  }


@media screen and (max-width: 450px) {
    .profile__info-container {
        margin: 22px 38px 0 51px;
    }
  }